jupyter-dash==0.4.2
jupyter-events==0.11.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==1.1.11
papyrus-scaffold-visualizer @ git+https://github.com/martin-sicho/papyrus-scaffold-visualizer.git@c8ca49e24e5f71e8053fc2c132f666eedab862fc
qsprpred @ git+https://github.com/CDDLeiden/QSPRPred.git@d742e8fff0201a632b5af3c7ae5f042fa58f8fa1
rdkit==2024.9.4
umap-learn==0.5.7
