papyrus-scaffold-visualizer @ git+https://github.com/martin-sicho/papyrus-scaffold-visualizer.git@c8ca49e24e5f71e8053fc2c132f666eedab862fc
qsprpred @ git+https://github.com/CDDLeiden/QSPRPred.git@d742e8fff0201a632b5af3c7ae5f042fa58f8fa1
rdkit==2024.9.4
umap-learn==0.5.7
