jupyterlab==4.3.4
papyrus-scaffold-visualizer @ git+https://github.com/martin-sicho/papyrus-scaffold-visualizer.git@main
drugex[qsprpred] @ git+https://github.com/CDDLeiden/DrugEx.git@master
rdkit==2024.9.4
umap-learn==0.5.7
